<div class="p-5 bg-image head">
    <h1 >What do our users say?</h1>
</div>
  <!-- Background image -->
 <div class="row" style="padding:0 35px;">
    <div class="col-lg-4 col-md-6 col-sm-12" style="padding-left: 0;" >
  <div class="card mx-4 mx-md-5 shadow-5-strong reviewBody">
     <div class="card-body px-md-5" style="padding:38px;">

      <!-- <div class="row d-flex justify-content-center" style="margin:0;"> -->
        <!-- <div class="col-lg-8"> -->
          <h3>Awesome!!</h3>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
           <img class="testi-img" src="https://kstatic.googleusercontent.com/files/485b4027fa399b7c357e57cc3a3ef7eac6ef90f5d082655057e1148cfb4dc2deaeedc888ce431a6d070e6701443264e3b393d367986c895dac8dd74674069e42" alt="">
           <em>-shaksha</em>
          
           
           <!-- </div> -->
            
            <!-- </div> -->
     </div>
     </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" >
        <div class="card mx-4 mx-md-5 shadow-5-strong reviewBody">
           <div class="card-body px-md-5" style="padding:38px;">
  
            <!-- <div class="row d-flex justify-content-center" style="margin:0;"> -->
              <!-- <div class="col-lg-8"> -->
                <h3>Awesome!!</h3>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                 <img class="testi-img" src="https://www.healthymale.org.au/themes/andrology/images/andrology/men-health.jpg" alt="">
                 <em>-John</em>
                
                 
                 <!-- </div> -->
                  
                  <!-- </div> -->
           </div>
           </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12" >
            <div class="card mx-4 mx-md-5 shadow-5-strong reviewBody">
               <div class="card-body px-md-5" style="padding:38px;">
      
                <!-- <div class="row d-flex justify-content-center" style="margin:0;"> -->
                  <!-- <div class="col-lg-8"> -->
                    <h3>Lorem ipusm</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                     <img class="testi-img" src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                     <em>-Jenna</em>
                    
                     
                     <!-- </div> -->
                      
                      <!-- </div> -->
               </div>
               </div>
              </div>
            </div>
            <!-- footer -->
            
