
<hr>
<div class="foot">
  <div class="detail">
  <h1>Contact Details</h1>
  <p><i class="fas fa-envelope"></i>   Email : abc@gmail.com</p>
  <p><i class="fas fa-phone"></i>      ph no. : 9874561258</p>
  <p> <i class="fas fa-map-marker-alt"></i>  Address : mallamar beach raod, near Baga beach, Goa-403516
  </p>
</div>
</div>
<footer id="footer">
  <i class="ico fab fa-twitter"></i>
  <i class="ico fab fa-facebook"></i>
  <i class="ico fab fa-instagram"></i>
  <i class="ico fas fa-envelope"></i>
      <p class="cright" style="color:#231955;">© Copyright </p>
  
    </footer>
  