/* h1 , h2{
    color:teal;
    text-align: center;
    font-family: cursive;
} */
h2{
    color:teal;
}

p{
    color:blueviolet;
    background-color: beige;
}
img{
    height:200px;
    width:200px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
    border-color:white;
    border-style: groove;
    border-radius: 20px;

}