
<!-- <h1>Welcome to tripii.</h1>

<br>
<p>Get to know more</p>
<button class="btn btn-outline-dark btn-lg" (click)="onclick()" >Know more</button>
<br>
<br>
<p>Type in u r details</p>
<input type="text" [(ngModel)]="name">
Name: {{name}} -->
<!-- string interpolation -->
<div id=head *ngFor="let course of CourseDetails" [ngSwitch]="course.Status" style="margin-top: auto; background-color: #EFEFEF; padding: 4% 0;">
    <div class="row">
        <div class="col-lg-3">
            <img [src]="course.img">
        </div>
        <div class="card col-lg-6  " style="margin-top: 5px;">
            <div class="card-body col-lg-12" >
                <div class="row" style="margin-top: 5px;">
                    <div class="data" *ngSwitchCase="'Active'" class="text-success">
                        <h2>{{course.CourseName}} </h2>
                        <br>
                        {{course.CourseDescription}}
                        <br>
                        {{course.Status}}
                    </div>
                    <div class="data" *ngSwitchDefault class="text-danger">
                        {{course.CourseName}} 
                        <br>
                        {{course.CourseDescription}}
                        <br>
                        {{course.Status}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <app-advertisement></app-advertisement>
        </div>
    </div>
   
</div>